<!doctype html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <title>EUDI Wallet</title>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/wallet.css', extensionName: 'EudiWalletIntegration')}" />
</head>
<body>
    <div class="eudi-wallet-wrapper">
        <f:render section="Main" />
    </div>
</body>
</html>
